[Unit]
Description=wconnect daemon script
Wants=network.target
#After=wpa_supplicant@%i.service
Before=network.target
#BindsTo=sys-subsystem-net-devices-%i.device
#After=sys-subsystem-net-devices-%i.device

[Service]
Type=simple
Restart=on-abort

#ExecStartPre=/bin/cp /usr/lib/systemd/scripts/wc-reconnect.sh /usr/lib/systemd/system-sleep/
#ExecStart=/bin/sh /usr/lib/systemd/scripts/wc-reconnect.sh
ExecStart=/bin/sh /usr/bin/wconnect -i%I -c /etc/wpa_supplicant.conf

#ExecStop=/bin/sh /usr/bin/wconnect -x

#ExecStop=/usr/bin/killall wc-reconnect.sh

[Install]
WantedBy=multi-user.target
