[Unit]
Description=wconnect test internet connection
After=sleep.target
StopWhenUnneeded=yes
OnFailure=wconnect-reload@%i.service
    
[Service]
Type=oneshot
Restart=on-abort
    
ExecStart=/usr/bin/ping -c 1 -W 2 www.schebek.eu
   
[Install]
WantedBy=sleep.target
