[Unit]
Description=wconnect daemon service
#Wants=dhclient@%i.service wpa_supplicant@%i.service
#After=dhclient@%i.service wpa_supplicant@%i.service

[Service]
Type=forking
Restart=on-abort

ExecStartPre=/usr/sbin/wpa_supplicant -B -Dwext -i%I -c /etc/wpa_supplicant.conf
ExecStart=/usr/sbin/dhclient -v %I

ExecStop=/usr/sbin/dhclient -x
ExecStopPost=/usr/sbin/wpa_cli terminate

[Install]
WantedBy=multi-user.target
