[Unit]
Description=wconnect daemon service
Wants=dhclient@%i.service wpa_supplicant@%i.service
After=dhclient@%i.service wpa_supplicant@%i.service

[Service]
Type=forking
Restart=on-abort

#ExecStartPre=/bin/cp /usr/lib/systemd/scripts/wc-reconnect /usr/lib/systemd/system-sleep/
ExecStart=/usr/lib/systemd/scripts/wc-reconnect

#ExecStop=/usr/bin/killall wc-reconnect && /usr/bin/wconnect -x
ExecStop=/usr/bin/wconnect -x
#ExecStopPost=/bin/rm /usr/lib/systemd/system-sleep/wc-reconnect

[Install]
WantedBy=multi-user.target
